* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(46, 46, 46);
}

body {
    font-family: sans-serif;
    font-weight: bolder;
}

header, footer {
    width: 100vw;
    height: 20vh;
    background-color: aquamarine;
    text-align: center;
    line-height: 20vh;
    font-size: large;
}

.main-content {
    width: 100vw;
    height: 60vh;
    font-size: 0; 
}

.left-aside, .mid-part, .right-aside {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    font-size: 16px; 
    text-align: center;
}

.left-aside {
    width: 19vw;
    background-color: antiquewhite;
    text-align: center;
    line-height: 60vh;
}

.mid-part {
    width: 62vw;
    background-color: rgb(75, 180, 180);
}

.right-aside {
    width: 19vw;
    background-color: beige;
    text-align: center;
    line-height: 60vh;
}

.mid-top, .mid-bottom {
    height: 50%;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    
    .left-aside, .mid-part{
        width: 100%;
        display: block;
    }

    header, footer {
        height: 20vh;
    }

    .left-aside {
        height: 15vh;
        line-height: 15vh;
    }

    .mid-top, .mid-bottom {
        height: 50%;
    }

    .right-aside {
        display: none;
    }

}